body {
  background-image: url("../img/home.jpg");
  max-width: 1920px;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-origin: content-box;*/
}

.spin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5em;
  row-gap: 5em;
  justify-content: space-around;
  animation: spins 20s linear infinite;
  position: absolute;
  margin: auto;
  height: 500px;
  width: 500px;
  top: 215px;
  left: 720px;
  align-items: center;
}

.fire {
  max-width: 200px;
  max-height: 200px;
  transform: rotate(-45deg);
  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 25px;
  border: solid black;
}

.air {
  max-width: 200px;
  max-height: 200px;
  transform: rotate(45deg);
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  border: solid black;
}

.water {
  max-width: 200px;
  max-height: 200px;
  transform: rotate(135deg);
  align-items: center;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 25px;
  border: solid black;
}

.earth {
  max-width: 200px;
  max-height: 200px;
  transform: rotate(-135deg);
  align-items: center;
  background-color: rgba(0, 255, 0, 0.5);
  border-radius: 25px;
  border: solid black;
}

.icon{
  max-width: 200px;
  max-height: 200px;
}

.irritation {
  margin-left: .75em;
}
@keyframes spins {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
